@charset "utf-8";

*{margin:0 auto; padding:0px;list-style:none;text-decoration:none; outline:none; border:none; box-sizing:border-box;}

/*--------------- Index -----------------------

1) General
2) Login button

----------- ****************** ---------*/

/*--------------- General -----------------------*/

body{
	background:#;
	background-size:cover;
	color:#4d4d4e;
	font-size:8px;
	font-family:Verdana, Geneva, sans-serif;
}


/*--------------------------------------------------------------------------------------------*/
.header{
	width:100%;
	height:50px;
	background-color:#000;
}

.banner{
	float:none;
	display:inline-block;
	width:100%;
	background:url(../images/abstract.jpg) no-repeat;
	background-size:100% 100%;
	height:580px;
	text-align:center;
	
}
.box{
	float:none;
	display:inline-block;
	background:rgba(0, 0, 0, 0.9);
	height:580px;
	width:100%;
	padding-bottom:50px;
}
.des{
	float:left; 
	width:50%; 
	height:500px;
	text-align:center;
	padding:100px 0px 40px 160px;
	
}
.des h1{
	float:left;
	color:#FFF;
	font-size:50px;
	font-family:"Lucida Console", Monaco, monospace;
	/*margin:100px 0px 0px 160px;*/
	padding-bottom: 35px;
}
.des p{
	float:left;
	color:#FFF;
	font-size:25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*padding-left:160px;*/
}
.login{
	border-radius: 15px;
	float:left;
	background-color:#FFF;
	margin-top:70px;
	margin-left:115px;
}

/* Form Module */
.form-module {
	border-radius: 15px;
  position: relative;
  background: #ffffff;
	height: 350px;
	width: 360px;
  border-top: 5px solid #33b5e5;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  border-radius: 6px;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

.container{
	float:left;
	width:100%;
	/*height:230px;*/
	padding-top: 5%;
    padding-left: 18%;
}
	/*margin-top:50px;*/
	}

.box1{
		float:left;
	}
.box1 span{
	float:none;
	font-size:40px;
	color:#000;
	text-align:center;
	} 
	
.box1 p{float:none;
	font-size:15px;
	text-align:center;
	color:#000;
	padding-top:20px;
	margin-left:-1%;
	margin-right:25%;

}

.about_us{
	float:left;
	width:100%;
	/*height:440px;*/
	padding: 4% 8%;
	/*margin-top: 100px;*/
	}

.image{
	float:left;
	width:50%;
	/*height:350px;
	margin-left:7%;*/
	}

.info{
	float:left;
	width:50%;
	padding-left:5%;
	/*height:350px;*/
	}
.code_convertor{
	float:left;
	width:100%;
	height:200px;
	}
	
.des1{
	width:65%;
	height:100px;
	margin:3px;
	}
	
.code_convertor span{
	float:left;
	font-size:28px;
	}
	
.code_convertor p{
	float:left;
	font-size:15px;
	text-align:justify;
	padding-top:10px;
	font-family:Georgia, "Times New Roman", Times, serif
	}
	
.text_editor{
	float:left;
	width:100%;
	height:200px;
	}
	
.text_editor span{
	float:left;
	font-size:28px;
	}
	
.text_editor p{
	float:left;
	font-size:15px;
	text-align:justify;
	padding-top:10px;
	font-family:Georgia, "Times New Roman", Times, serif
	}
	
	
	
	
	
	
	
	
	
	
.contact_us{
	float:left;
	width:100%;
	padding: 30px 20px 0px 20px;
	/*margin-top:100px;*/
	}

.contact_us span{
	float:none;
	font-size:40px;
	color:#000;
	text-align:center;
	padding-left:37%;
	}
	
.mentor{
	float:left;
	width:100%;
	padding:4% 10%;
	/*margin-left:300px;
	margin-top: 40px;*/
	}

.mentor li{
	float:left;
	width:30%;
	height:130px;
	margin:1% 10%;
	}
/*.mentor li:last-child{margin-right:0px;}
.mentor li:first-child{margin-left:30px;}*/
li .picture{
	float: left;
	width: 130px;
	background:#000;
	height: 130px;
	border-radius:50%;
	border-style:solid;
	
	}
	
li .picture img{
		border-radius:50%;
	border-style:solid;
	margin: -3px 0px 0px -3px;

	}
li .name h6{
	float:left;
	font-size:14px;
	/*padding-right:5px;*/
	margin-left:6%;
	padding-top:9%;
	}
li .name p{
	float:left;
	font-size:14px;
	padding-top:2%;
	margin-left:6%;
	}

.team{
	float:left;
	width:100%;
	
}

.team li{
	float:left;
	width:20%;
	height:130px;
	margin:1% 2%;
	}
/*.team li:last-child{margin-right:0px;}
.team li:first-child{margin-left:60px;}*/

.footer{
	float:left;
	width:100%;
	height:100px;
	background:#000;
	/*margin-top:30px;*/
	}
	



@media only screen and (max-width : 860px){
	.banner, .box{
		height:auto;
	}
	.des, .login{
		width:100%;
	}
	.des{
		padding:70px 20px 40px 40px;
	}
	.login{
		margin:30px 10px 0px 180px;
		width:320px;
	}
	.form-module{
		width:340px;	
	}
	.container, .image, .info{
		width:100%;
	}
	.contact_us span{
		padding-left:26%;
		font-size:36px;
	}
	.team li{
		width:100%;	
	}
}

@media only screen and (max-width : 640px){
	.login{
		margin:30px 10px 0px 100px;
		width:300px;
	}
	.form-module{
		width:300px;	
	}
	.container, .image, .info{
		width:100%;
	}
	.contact_us span{
		padding-left:22%;
		font-size:33px;
	}
	.mentor{
		padding:4% 5%;
	}
	.mentor li{
		width:100%;
		margin:5% 2%;
	}
	li .name p{
		font-size:18px;
	}
	.team li{
		width:100%;	
		margin:5% 2%;
	}
}

@media only screen and (max-width : 480px){
	.banner, .box{
		height:auto;
	}
	.des, .login{
		width:100%;
	}
	.des{
		padding:70px 10px 40px 40px;
	}
	.des h1{
		font-size:45px;
	}
	.login{
		margin:30px 10px 0px 26px;
		width:270px;
	}
	.form-module{
		width:270px;	
	}
	.container, .image, .info{
		width:100%;
	}
	.contact_us span{
		padding-left:15%;
		font-size:30px;
	}
	
	.mentor{
		padding:4% 5%;
	}
	.mentor li{
		width:100%;
		margin:5% 2%;
	}
	li .name p{
		font-size:11px;
	}
	.team li{
		width:100%;
		margin:5% 2%;	
	}
}