*{margin:0 auto; padding:0px;list-style:none;text-decoration:none; outline:none; border:none; box-sizing:border-box;}

/*--------------- Index -----------------------

1) General
2) Sidenav for Dashboard
3) Sidenav for Progress bar
4) For cards
5) Common classes of different Editor
6) Text Editor
7) Code Editor
8) Responsive

----------- ****************** ---------*/
#codeEditor {
    position: relative;
	margin-left: 0px;
    width: 77%;
    height: 400px;
	margin-top:-66px;
}

/*--------------- General -----------------------*/

body{
	display:block;
    background-color: #FFFFFF;
	background-size:cover;
	color:#4d4d4e;
	font-size:8px;
	font-family:Verdana, Geneva, sans-serif;
}

/*--- header files -----*/
h1{
	font-size:6vw;
}
h2{
	font-size:6nw;
}

/*----------- ****************** ---------*/


/*----------- Sidenav for Dashboard ------------*/

.sidenav{
	position:fixed;
	width:17%;
	height:100%;
	/*left:2%;*/
	border-right:solid 1px solid #e7e7e7;
	/*background-color:#d9e3e4;*/
    background-color: #f8f8f8;
    line-height: 24px;
    box-sizing: border-box;
}

.sidenav a{
	padding:18px 15px 15px 25px;
	font-family:Roboto,sans-serif;
	font-size:15px !important;
	color:#2b313f;
	display:block;
  font-weight: 400;
  border-bottom: 1px solid #e7e7e7;
}

.sidenav .active{color:#9E7349;}

.sidenav .dropdown-btn {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #e7e7e7;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    /*color: #f1f1f1;*/
    color: #fff;
    background-color: #b7bbc4;
}


.dropdown-container {
    display: none;
    background-color:#e9e9e9;
}

#fa-caret-down {
    float: right;
    padding-right: 8px;
}

.text{
	margin: -35px 0px 0px 35px;
	padding: 0px, 10px 10px 0px;
	font-family:Roboto,sans-serif;
}


@media only screen and (max-width : 860px){
  
  .text{
    display:none;
	visibility:hidden;
  }
  
  .sidenav, a{
   /* width: 70px;
    text-align:center;*/
  }
   
  a:hover{
    /*width:70px; */
    z-index:1;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px 1px black;
  }
  
  a:hover  .text {
    display:block;
    /*padding-left:20%;*/
  }
}

@media only screen and (max-width : 480px){
  /*.sidenav, a{ width:60px;}*/
  .sidenav .lib a{font-size:8px;}
  /*span[class ^= "icon-"]{ left:4px;}*/
  
  .sidenav, a{
	padding-left:5px !important;
  }
}


/*----------- ****************** ---------*/

/*---------- Sidenav for Progress bar --------*/

progress{
	width: 200px;
	padding: 2px;
	margin: 1px 0px 4px 0px;
}


/*----------- ****************** ---------*/

/*------------ For cards -------------*/

.card-text-content{
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.card-width{
  width: 30% !important;
  height: 20% !important;
}

/*----------- ****************** ---------*/

/*------------ Common classes of different Editor -------------*/
.welcome{
  background-color: #fff;
  color: #fff;
  position: relative;
  height: 73px;
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}

.select-show{
  display: block;
  color:#fff;
  width: 100%;
  margin-bottom: 10px;
  font-size:13px;
  font-family:Roboto,sans-serif;
}

.blue.lighten-1{
	top:10px;	
}

.langSel{
	width:100%;
	text-align:left;
	margin:50px 0px 0px 50px;
	}

.langSel h4{
	font-size:18px;
	}
.langSel #languages{
		width:15%;
		height:32px;
		padding:10px;
		margin-bottom:15px;
		display:inline !important;
}

.header{
  font-size: 27px;
  font-family:Roboto,sans-serif;
  margin:0;
  text-align:center;
  color: #000;
  line-height: 1.42857143;
  height: 46px;
  padding-top:17px;
}

#log1{
	color: white;
	font-size: 13px;
	font-variant-caps: all-petite-caps;
	position: fixed;
	width: 17%;;
    padding-top: 30px;
	text-align: left;
	right:0;
	top:0;
    background-color: #f8f8f8;
	height: 100%;
	overflow:scroll;
}


/*----------- ****************** ---------*/

/*------------ Text Editor -------------*/

#log{
	color: black;
	padding-left:20px;
}

.mce-branding{color:#FDFDFD!important}
.mce-branding a{color:#FDFDFD!important}

#mceu_11{
	height:400px;
	width:100% !important;
}

#upload-file{
    display: none;
}​
/*----------- ****************** ---------*/




/*--------- responsive -----------*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width : 860px){
	.header{
		font-size:24px;	
	}
	.card-text-content{
  		font-size: 12px;
	}
	.card-width{
  		width: 60% !important;
	}
	/*.container{width:100%;}*/
}
@media only screen and (max-width : 480px){
	.header{
		font-size:18px;	
	}
	.card-text-content{
  		font-size: 10px;
	}
	.card-width{
  		width: 80% !important;
		margin-left:25px !important;
	}
	
}
/*----------- ****************** ---------*/
