{% extends "layout.html" %} {% load staticfiles %} {% block content %}

<div class="container" style="width:66%;">

	<div class="welcome ">
		<h1 class="header">
			<span class="text" style="margin-left:20px; margin-top:-28px; font-size:25px;">
				<i class="material-icons">bubble_chart</i>Smart Editor</span>
		</h1>
	</div>
</div>
<div class="container" style="width:64%;">
	<div class="row">
		<div class="col s10 m3 offset-s1 offset-m1">
			<h5 style="color:#000; font-size:15px; line-height:80%; margin: 0px 10px 8px 8px;">Select language</h5>
			<select id="languages" class="select-show blue darken-2" required>
				<option value="c" selected> C </option>
				<option value="c++">C++</option>
				<option value="java">Java</option>
			</select>
		</div>
		<!-- Code for text field and button -->
		<div class="col s10 m3 offset-s1">
			<label for="file_name" style="color:#000; font-size:14px; line-height:110%; margin: 10px 8px 5px 5px;">File Name</label>
			<input placeholder="Please Enter a FileName" id="filename" type="text" class="validate black-text input-field">
		</div>
		<div class="col s6 m2">
			<a href="#!" class="btn blue lighten-1 waves-effect waves-light right " onclick="writeUserData();">
				<i class="material-icons left">save</i>Save</a>
		</div>

		<div class="col s6 m2">
			<a href="#!" class="btn blue lighten-1 waves-effect waves-light left" onclick="setContentInEditor();">
				<i class="material-icons left">refresh</i>Load</a>
		</div>
	</div>
	<div id="codeEditor" style="width:100%;">Your code...</div>
	<!-- Button for compile and run the code-->
	<button class="btn red " style="margin-top:1%; margin-left:68%;" type="submit" onclick="makeCorsRequest()">Compile & Run</button>
	<!-- Div for displaying the output-->
	<div id="output" class="card-panel grey lighten-3 red-text lighten-2 left-align" style="font-size: 15px;width:100%;">Results appear here</div>

	<select id="langsel" onchange="window.lastFile && recognizeFile(window.lastFile)">
		<option value='eng' selected> English </option>
	</select>
</div>

<div class="col s12 m3">
	<div id="log1">
		<div id="log"></div>
	</div>
	<div class="fixed-action-btn vertical click-to-toggle">
		<a class="btn-floating btn-large #00B7C3">
			<i class="material-icons">add</i>
		</a>
		<ul>
			<li>
				<a class="btn-floating green" title="Camera">
					<i class="material-icons">camera_alt</i>
				</a>
			</li>
			<li>
				<a class="btn-floating blue" title="Upload Files" href="javascript:void(0)" id="upload">
					<i class="material-icons">file_upload</i>
				</a>
				<input id="upload-file" type="file" onchange="recognizeFile(window.lastFile=this.files[0])" />
			</li>
		</ul>
	</div>
</div>


<script type="text/javascript" src="{% static 'plugins/ace/src/ace.js' %}" charset="utf-8"></script>
<!-- <script src="src/theme-twilight.js" type="text/javascript" charset="utf-8"></script> -->
<script>
	var codeEditor = ace.edit("codeEditor");
	//codeEditor.resize();
	//codeEditor.setTheme("ace/theme/twilight")
</script>
<script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/ocr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/codecompiler.js' %}"></script>
{% endblock %}