{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Editor</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="header">

    </div>

    <div class="banner">
        <div class="box">
            <div class="des">
                <h1>SMART EDITOR</h1>
                <p>Smart way to handle your documents </p>
                <p>A platform to make one's task easy</p>
                <br>
                <p>Tool to extract data </p>
            </div>
            <div class="login">
                <div class="module form-module">
                    <div class="toggle">

                    </div>
                    <div class="form">
                        <h2>Login to your account</h2>
                        <input id="email_field" type="text" placeholder="Username" />
                        <input id="password_field" type="password" placeholder="Password" />
                        <button class="button button__text" style="color:#ffffff" onclick="loginWithEmail()">Login</button>
                        <br>
                        <br>
                        <p style="float:center">OR</p>
                        <br>
                        <button class="google-button" onclick="logIn()">
                            <span class="google-button__icon">
                                <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
                                        id="Shape" fill="#EA4335" />
                                    <path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
                                        id="Shape" fill="#FBBC05" />
                                    <path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
                                        id="Shape" fill="#4285F4" />
                                    <path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
                                        fill="#34A853" />
                                </svg>
                            </span>
                            <span class="button__text">Sign in with Google</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background-color:#d9d9d9;">
        <div class="box1">
            <span>Your Text. Just The Way You Want Them.</span>
            <p>From everyday edits to total transformations, EdiSmart puts the power of the world's best editing and designing
                at your fingertips. Enhance, edit, transform, and add effects to your text. Design websites and mobile apps.
                Getting started is fast and easy</p>
        </div>
    </div>

    <div class="about_us" style="background-color:#d8d8d8;">
        <div class="image">
            <img src="static/images/Screenshot_24.png" width="550" height="418">
        </div>
        <div class="info">
            <div class="code_convertor">
                <span>Code Convertor</span>
                <div class="des1">
                    <p>Code Convertor is used for running and compiling the code in the editor itself instead of writing the
                        whole program in compiler, thus making our task easier</p>
                </div>
            </div>
            <div class="text_editor">
                <span>Text Editor</span>
                <div class="des2">
                    <p>Through EdySmart we can convert the text static/images into document and can easily change, edit and
                        enhance the documents at a very fast pace </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_us" style="background-color:#ffffff;">
        <span>Meet The Team</span>
        <ul class="mentor">
            <li>
                <div class="picture">
                    <img src="static/images/girish sir (1).jpeg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Mentor</h6>
                    <p>Mr. Girish Ameta</p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src="static/images/dev.jpeg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Team Leader</h6>
                    <p>Devendra Suthar</p>
                </div>
            </li>
        </ul>

        <ul class="team">
            <li>
                <div class="picture">
                    <img src="static/images/love.jpeg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Team Member</h6>
                    <p>Love Purohit</p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src="static/images/ayushi.jpeg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Team Member</h6>
                    <p>Ayushi Bansal</p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src="static/images/bhavika.jpg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Team member</h6>
                    <p>Bhavika Siyal</p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src="static/images/hardik.jpeg" width="130" height="130">
                </div>
                <div class="name">
                    <h6>Team Member</h6>
                    <p>Hardik Audichya</p>
                </div>
            </li>

        </ul>

    </div>

    <div class="footer"></div>
</body>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/firebaseInternal.js' %}"></script>

</html>