{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/2001/XMLSchema">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Editor</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://materializecss.com/css/ghpages-materialize.css">

</head>

<body onload="getDetails();">
<div class="col s3">
	<div class="sidenav">
    		<a title="Smart Editor" style="background:#f8f8f8; color:black;" >
            	<span class="icon-home"><i class="material-icons">bubble_chart</i></span>
                <span class="text" style="margin-left:20px; margin-top:-28px; font-size:25px;">Smart Editor</span>
            </a>
    		<a href="{% url 'home' %}" title="Home" class="active">
            	<span class="icon-home"><i class="material-icons">home</i></span>
                <span class="text">Home</span>
            </a>
        	<a href="#" title="Files">
            	<span class="icon-home"><i class="material-icons">folder</i></span>
                <span class="text">My Files</span>
            </a>
  			<button class="dropdown-btn">
            	<a href="#" title="Tools"> 
                	<i id="fa fa-caret-down" class="material-icons" >list</i></span>
                	<span class="text">Tools</span>
                </a>
             </button>
  			<div class="dropdown-container">
				<a href="{% url 'home' %}" title="notes">
                	<span class="icon-home"><i class="material-icons">note</i></span>
                	<span class="text">Notes</span>
                </a>
				<a href="{% url 'textEditor' %}" id="editor" title="editor" onclick="openPage();">
                	<span class="icon-home"><i class="material-icons">border_color</i></span>
                	<span class="text">Editor</span>
                </a>
				<a href="{% url 'codeConverter' %}" title="Code Convertor">
                	<span class="icon-home"><i class="material-icons">code</i></span>
                	<span class="text">Code Convertor</span>
                </a>
				<!--<a href="" title="Translator"><i class="material-icons">translate</i>TRANSLATOR</a>-->
			</div>
           	<a href="#" title="Trash">
            	<span class="icon-home"><i class="material-icons">delete</i></span>
                <span class="text">Delete</span>
            </a>
        	<a href="#" title="Settings">
            	<span class="icon-home"><i class="material-icons">settings</i></span>
                <span class="text">Settings</span>
            </a>
        	<a href="#" title="account circle">
            	<span class="icon-home"><i class="material-icons">account_circle</i></span>
                <span class="text">Account</span>
            </a>
			<a href="#" title="account circle" onclick="logOut();">
            	<span class="icon-home"><i class="material-icons">add</i></span>
                <span class="text">Log-Out</span>
            </a>
      </div>   
</div>

{% block content %} {% endblock %}

<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidenav.js' %}"></script>
</body>

</html>
